<a class="list-group-item active">
<h1><span class="info">Create a Project</span></h1>
</a>
<%= render 'form' %>
	<%= link_to 'Cancel Creation', projects_path, class:'btn btn-primary btn-sm btn-cancel' %>
		</div>
 	</div>
</div>

