<span class="list-group-item active update-title">
<h1>Editing update</h1>
</span>
<div class="well">
<%= render 'form' %>
</div>

<!-- <div class="btn-r">
<%= link_to 'Show', @update, class:'btn btn-primary btn-sm btn-l'  %>
<%= link_to 'Back', updates_path, class:'btn btn-primary btn-sm btn-l'  %>
</div> -->