/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .btn-cancel {
 	float: right;
 }

 .error-reasons {
 	color: #d9534f;
 }

 .update-title {
 	color: white;
 }

 .delete {
 	float: right;
 }

.project-sm {
	margin-left: 1em;
	margin-right: 1em;
}

.thumb-title {
	font-size: 22px;
}

.thumb-description {
	margin-left: -1em;
}
.thumb-who {
	font-size: 11px;
	margin-left: 1em;
	margin-top: -1.5em;
	margin-bottom: 0em;
	text-indent: 1em;
}

.update-who {
	float:right;
}

.project-btns {
	float:right;
}