/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

.btn-submit {
	margin-left: 80%;
 }

.btn-register {
	margin-left: 35%;
}

.reduce {
	overflow: hidden;
}

#project-edited {
	float: right;
}

.hidden {
	display: none;
} 

.word-break {
	word-wrap: normal;
}

.well {
	max-height: 620px;
	margin-bottom: 5px;
}

#notice-box {
	text-align: center;
}

#notice {
	color: #2EB82E;
	text-align: center;
}

#time-ago {
	text-align: center;
	float: right;
	margin-right: 1%;
}

.flow {
	overflow: auto;
}

.project-title {
	margin-top: -0.5em;
 }

.center {
	text-align: center;
}

.badge {
	margin-right: 1em;
}

.btn-r {
	float: right;
}

.jumbotron {
	border: 1px solid #e3e3e3;
	border-radius: 4px;
}

.float-right {
	float:right;
	margin-right: 1.5em;
}

.btn-l {
	margin-top: 1em;
}

.thumb-title {
	color:white;
}

.thumb-who {
	float: right;
	color: #DBDBDB;
}

.thumbnail {
	background-color: #428bca;
}

 .error-reasons {
 	color: #d9534f;
 }

 .update-title {
 	color: white;
 	background-color: #20bed2;
 }

 .delete {
 	float: right;
 }

.project-sm {
	margin-left: 1em;
	margin-right: 1em;
}

.thumb-title {
	font-size: 22px;
}

.thumb-description {
	margin-left: -1em;
}
.thumb-who {
	font-size: 11px;
	margin-left: 1em;
	margin-top: -1.5em;
	margin-bottom: 0em;
	text-indent: 1em;
}

.update-who {
	float:right;
}

.project-btns {

	float:right;
}

.btn-cancel {
	margin-left: .5%;
}

#login {
	margin-top: 15%;
}

#logout {
	margin-top: 14%;
}

#edited {
	color: #A3A3A3;
}

#individual-update {
	overflow: auto;
	max-height: 300px;
}

.well-corner {
	float: left;
	font-size: 12px;
}

h4 {
	color: #A13C3C;
}